- var logo = ['brand-logo', 'left']

div.navbar-fixed
    nav
        div(class="nav-wrapper background-theme light-blue darken-3")
            a(class=logo href="/") 
                i.material-icons(style="padding-left:50px") fastfood