<div style="margin-top: 10%" id="borda">
    <div class="loginform">

        <h1 style="margin-left: 20%">Paffi Delivery</h1>
            <h4>Login</h4>
            <h3>Matrícula</h3>
        <span class="ui-float-label">
            <input id="float-input" type="text" size="40" pInputText> 
            <label for="float-input">Matrícula</label>
        </span><h3>Senha<span style="font-size:16px;margin-left:30%;color:rgb(175, 175, 175)">Esqueci minha senha</span></h3>
        <span class="ui-float-label">
            <input id="float-input" type="text" size="40" pInputText> 
            <label for="float-input">Senha</label>
        </span>

        <button pButton icon="pi pi-check" iconPos="right" label="Entrar" routerLink ="/home" routerLinkActive="active" style="width: 83.5% ;height: 3em ;margin-top: 3em;margin-bottom: 3em" ></button>
        <p>cadastre-se</p>
    </div>
</div>
<router-outlet></router-outlet>