<div style="position:fixed;width: 100%;height: 120%;background-color: #0000007c; z-index: 99;top: -10%" *ngIf="loading">
  <img src="../../assets/tumblr_mnf6veWVOo1qgcra2o1_400.gif" style="position: fixed;top: 40%;left: 40%">
</div>

<div class="welcome">
  <h1 id="welcome">Todas as Lojas</h1>
</div>

<div class="row" style="margin-top: 3em">
  <div *ngFor="let loja of Stores;let i = index">
    <div class="col l4 s12 m6">
      <div class="card hoverable z-depth-1">
        <div id="img" class="card-image waves-effect waves-block waves-light">
          <img class="activator" [src]="loja.photoURL" width='100%' style='height: 20em;object-fit: cover'>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{loja.nome_loja}}<i
              class="material-icons right"></i></span>
          <p (click)="entraLoja(loja)" *ngIf="loja.online"><a>Comprar</a></p>
          <p *ngIf="!loja.online"><a>Loja Fechada</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{loja.nome_loja}}<i class="material-icons right">close</i></span>
          <p>{{loja.descricao}}</p>
          <p (click)="entraLoja(loja)" *ngIf="loja.online"><a>Comprar</a></p>
          <p *ngIf="!loja.online"><a>Loja Fechada</a></p>

        </div>
      </div>
    </div>
  </div>


</div>
