#welcome {
  font-family: sans-serif;
  font-size: 25pt;
  color: chocolate;
  font-size: 25pt;
  text-align: center;
  margin-top: 1.5%;
}

#texto-w {
  font-family: sans-serif;
  text-align: center;
}

footer{
  background-attachment: fixed;
  background-color:lightblue;
  height: 35px;
  width: 100%;
  margin-top: 1%;
}
footer p{
  font-family: sans-serif;
  text-align: center;
  padding-top: 0.35%;
  text-transform: uppercase;
}
