<!DOCTYPE html>
<html lang="pt-br">

</html>

<head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background:url(/src/bglogin.png);">
    <div class="row">
        <div class="col l4 s12 offset-l4 z-depth-2  hoverable" id="principal" style="margin-top:8%;">
            <h2 style="margin-left: 16%;">Paffi Delivery</h2>
            <form class="col s12" method="POST" action="/">
                <div class="input-field col s8 offset-s2"><input class="validate" id="email" name="email"
                        type="text"><label for="email">E-Mail</label></div>
                <div class="input-field col s8 offset-s2"><input class="validate" id="senha" name="senha"
                        type="password">
                    <label for="senha">Senha</label><br><a href="index.html">Esqueci minha senha</a></div>
                <div class="col s8 offset-s2" id="poha"><button
                        class="hoverable light-blue darken-4 btn waves-effect waves-light" type="submit"
                        style="width: 100%;">Entrar</button></div>
            </form>
            <div class="col s8 offset-s2" style="margin-top:15px;">
                <a href="/cadastro">
                    <button class="hoverable light-blue darken-4 btn waves-effect waves-light"
                        style="width: 95%;margin-bottom:50px;margin-left:7px">Cadastrar</button>
                </a>
                {{{ body }}}
            </div>
        </div>
        <script src="/materialize/materialize.min.js"></script>
        <script>
            M.autoInit();
        </script>
    </div>
</body>