<div style="position:fixed;width: 100%;height: 120%;background-color: #0000007c; z-index: 99;top: -10%" *ngIf="loading">
  <img src="../../assets/tumblr_mnf6veWVOo1qgcra2o1_400.gif" style="position: fixed;top: 40%;left: 40%">
</div>

<p-dialog header="Produtos comprados" [(visible)]="displayProdutos" class="row" [draggable]="false" [modal]="true"
  [dismissableMask]="true" [style]="{'width':'60vw'}">
  <div *ngFor="let produto of produtos;let i = index">
    <div class="col s12"
      style="border: 0.7px solid lightgray;border-top:0px;border-left:0px;border-right: 0px; margin-bottom: 1em">
      <div class="col s2 center-align">
        <img [src]="produto.photoURL" width="75px" height="75px"
          style="border: 0.5px solid white;border-radius: 50%;object-fit:cover">
      </div>
      <div class="col s6">
        <h5>
          {{produto.nome}}
        </h5>
      </div>
      <div class="col s4">
        <h5>R${{produto.valor}}</h5>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog header="Atualizar Dados" [(visible)]="display" [draggable]="false" [resizable]="false" [modal]="true"
  [dismissableMask]="true">
  <input pButton (change)="uploadFile($event)" type="file" style="width: 100%">
</p-dialog>

<p-dialog header="Configurar produto" [(visible)]="config" [draggable]="false" [resizable]="false" [modal]="true"
  [dismissableMask]="true" [style]="{'width':'60vw'}">
  <form [formGroup]="formularioProduto" class="row" *ngIf="config">

    <div class="input-field col s6">
      <input class="validate" id="nome" formControlName="nome" type="text">
      <label for="nome">Nome do produto</label>
    </div>

    <div class="input-field col s6" style="margin-top: 2.3em">
      <input pButton (change)="updateFotoProduto($event)" type="file" style="width: 100%">
    </div>

    <div class="input-field col s12">
      <input class="validate" id="desc" formControlName="desc" type="text">
      <label for="desc">Descrição do produto</label>
    </div>

    <div class="input-field col s4">
      <p-dropdown [options]="categorias" formControlName="cat" [style]="{'width':'100%'}"></p-dropdown>
    </div>

    <div class="input-field col s7">
      <input class="validate" id="val" formControlName="val" type="number" step="0.05">
      <label for="val">Preço em R$</label>
    </div>
    <button class="waves-effect waves-light btn col s12" (click)="atualizaProduto()">Salvar produtos</button>
    <button class="waves-effect waves-light red darken-3 btn col s12" style="margin-top: 1em"
      (click)="excluiProduto()">Excluir produto</button>
  </form>
</p-dialog>

<p-dialog header="Inserir produtos" [(visible)]="addProduto" [draggable]="false" [resizable]="false" [modal]="true"
  [dismissableMask]="true">
  <form [formGroup]="formularioProduto" *ngIf="addProduto" class="row">

    <div class="input-field col s6">
      <input class="validate" id="nome" formControlName="nome" type="text">
      <label for="nome">Nome do produto</label>
    </div>

    <div class="input-field col s6" style="margin-top: 2.3em">
      <input pButton (change)="uploadFileProduto($event)" type="file" style="width: 100%">
    </div>

    <div class="input-field col s12">
      <input class="validate" id="desc" formControlName="desc" type="text">
      <label for="desc">Descrição do produto</label>
    </div>

    <div class="input-field col s4">
      <p-dropdown [options]="categorias" formControlName="cat" [style]="{'width':'100%'}"></p-dropdown>
    </div>

    <div class="input-field col s7">
      <input class="validate" id="val" formControlName="val" type="text">
      <label for="val">Preço em R$</label>
    </div>
    <button class="waves-effect waves-light btn col s12" id="abreForm" (click)="addProdutos()"
      [disabled]="!salvarProduto">Salvar produtos</button>
  </form>
</p-dialog>

<p-toast [style]="{marginTop: '80px'}"></p-toast>

<div class="row" *ngIf="!modoEditar">
  <div style="float:right">
    <div class="col s6"><h5>Abrir a Loja</h5></div>
    <div class="col s6" style="margin-top:2em"><p-inputSwitch [(ngModel)]="checked" (onChange)="mudaStatus()"></p-inputSwitch></div>



  </div>
  <div class="col s12">
    <div class="col l3 s12">
      <img [src]="loja.photoURL" style="border: 0.5px solid white;border-radius: 50%;margin-top: 3em;object-fit:cover"
        width="220px" height="220px">
    </div>
    <div class="col l9 s12">
      <h2>{{loja.nome_loja}}</h2>
      <hr>
      <h4>{{loja.descricao}}</h4>
      <hr>
      <br>
      <div class="col s12">
        <button class="waves-effect waves-light btn col l4 s5" id="abreForm" (click)="ativaModoEditar()">Atualizar
          Dados</button>
        <button class="waves-effect waves-light btn col l4 offset-l2 s5 offset-s1" id="abreForm"
          (click)="abreAddProduto()">Adicionar
          Produtos</button>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="modoEditar" [formGroup]="formularioLoja">
  <div class="col s12">
    <div class="col l3 s12">
      <img [src]="loja.photoURL" style="border: 0.5px solid white;border-radius: 50%;margin-top: 3em;object-fit:cover"
        width="220px" height="220px" (click)="showDialog()">
    </div>
    <div class="col l9 s12">
      <input id="input" type="text" size="30" style="font-size: 42px;margin-top: 1em" pInputText formControlName="nome">
      <hr>
      <textarea style="font-size: 24px;margin-top: 1em;height: 10em" pInputTextArea formControlName="descricao"
        [rows]="100" [cols]="30" autoResize="autoResize"></textarea>
      <hr>
      <br>
      <div class="col s12">

        <button class="waves-effect waves-light btn col l4 s5" id="abreForm" (click)="ativaModoEditar(); atualizaLoja()"
          [disabled]="!salvar">Salvar Alterações</button>
        <button class="waves-effect waves-light btn col l4 offset-l2 s5 offset-s1" id="abreForm"
          (click)="desativaModoEditar()">Cancelar alterações</button>
      </div>
    </div>
  </div>
</div>


<p-tabView [style]="{'padding':'3em'}">
  <p-tabPanel header="Dashboard">
    <div class="ui-g">
      <div class="ui-g-6 ui-md-offset-3">
        <p-chart type="doughnut" [data]="data"></p-chart>
      </div>
    </div>
    <div class="row">
      <div class=" col l11 z-depth-3" style="border:solid 1px rgb(131, 131, 131);margin:4em 4em 4em 4em">
        <h4 class="col s5" style="color: rgb(138, 138, 138);margin-left:2em">Minhas Vendas</h4>
        <div *ngIf="historico.length == 0" class="col s12">
          <h1>Ainda não há vendas realizadas.</h1>
        </div>
        <table *ngIf="historico.length > 0" class="highlight centered col s12 responsive-table">
          <thead>
            <tr>
              <th>Comprador</th>
              <th>Data da compra</th>
              <th>Hora da compra</th>
              <th>Valor da compra</th>
              <th>Ver Produtos</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let compra of historico">
              <td>{{compra.nome}}</td>
              <td>{{compra.data_compra}}</td>
              <td>{{compra.hora_compra}}</td>
              <td>R${{compra.valor_compra}}</td>
              <td style="cursor: pointer" (click)="getProdutos(compra.id_compra)">
                <i class="material-icons medium" style="color: rgb(47, 46, 59)">fastfood</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </p-tabPanel>


  <p-tabPanel header="Produtos">
    <div class="row">
      <div class=" col l11 z-depth-3 hide-on-med-and-down"
        style="border:solid 1px rgb(131, 131, 131);margin:4em 4em 4em 4em">
        <h4 class="col s5" style="color: rgb(138, 138, 138);margin-left:2em">Meus produtos</h4>
        <div *ngIf="produtos.length == 0">
          <h1>Não há produtos</h1>
        </div>
        <table *ngIf="produtos.length > 0" class="highlight centered col s12 responsive-table">
          <thead>
            <tr>
              <th>Foto</th>
              <th>Nome</th>
              <th>Descrição</th>
              <th>Categoria</th>
              <th>Preço</th>
              <th>Opções</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let produto of produtos">
              <td>
                <div class="tooltiptext">
                  <img [src]="produto.photoURL" width="250px" height="150px" style="object-fit: contain">
                </div>
                <i class="material-icons medium" style="color: #00afef">camera_alt</i>
              </td>
              <td>{{produto.nome}}</td>
              <td>{{produto.descricao}}</td>
              <td>{{produto.categoria}}</td>
              <td>R${{produto.valor}}</td>
              <td style="cursor: pointer" (click)="showConfig(produto)">
                <i class="material-icons medium" style="color: rgb(47, 46, 59)">settings</i>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="produtos.length > 0 && false" style="margin-top: 3em">
          <div *ngFor=" let produto of produtos">
            <div class="col s3">
              <h5>{{produto.nome}}</h5>
              <img [src]="produto.photoURL" width="270px" height="270px">
              <p>{{produto.descricao}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 z-depth-3 hide-on-large-only" style="border:solid 1px rgb(131, 131, 131);">
        <h4 class="col s12 center-align" style="color: rgb(138, 138, 138);">Meus produtos</h4>
        <div *ngIf="produtos.length == 0">
          <h1>Não há produtos</h1>
        </div>
        <table *ngIf="produtos.length > 0" class="highlight centered col s12 responsive-table">
          <thead>
            <tr>
              <th>Foto</th>
              <th>Nome</th>
              <th>Descrição</th>
              <th>Categoria</th>
              <th>Preço</th>
              <th>Opções</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let produto of produtos">
              <td>
                <div class="tooltiptextM">
                  <img [src]="produto.photoURL" width="190px" height="90px" style="object-fit: contain">
                </div>
                <i class="material-icons medium" style="color: #00afef">camera_alt</i>
              </td>
              <td>{{produto.nome}}</td>
              <td>{{produto.descricao}}</td>
              <td>{{produto.categoria}}</td>
              <td>R${{produto.valor}}</td>
              <td style="cursor: pointer" (click)="showConfig(produto)">
                <i class="material-icons medium" style="color: rgb(47, 46, 59)">settings</i>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="produtos.length > 0 && false" style="margin-top: 3em">
          <div *ngFor=" let produto of produtos">
            <div class="col s3">
              <h5>{{produto.nome}}</h5>
              <img [src]="produto.photoURL" width="270px" height="270px">
              <p>{{produto.descricao}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>
