td .tooltiptext {
  visibility: hidden;
  width: 300px;
  margin-left: 50px;
  margin-top: -40px;
  background-color: white;
  color: #00afef;
  text-align: center;
  border:solid rgb(206, 204, 204) 0.5px;
  padding: 5px 0;
  border-radius: 3px;
  -webkit-box-shadow: 7px 11px 13px -4px rgba(173,173,173,0.85);
  -moz-box-shadow: 7px 11px 13px -4px rgba(173,173,173,0.85);
  box-shadow: 7px 11px 13px -4px rgba(173,173,173,0.85);
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

td:hover .tooltiptext {
  visibility: visible;
}
