<div class="ui-g" id="nav">
    <div class="ui-g-2" style="margin-top: 7px;"><button type="text" (click)="display = true" pButton icon="pi pi-list" label="Categorias"></button></div>
    <div class="ui-g-8"><img src="assets/imgs/image.png" style="margin-left:26.5vw"></div>
    <div class="ui-g-2"></div>
  
</div>

<p-sidebar [(visible)]="display">
    <div class="ui-g">
    <div class="ui-g-12"> <h1><img src="assets/imgs/categicon.png" width="50vw" height="30vh"> Categorias</h1></div>
    <div class="ui-g-12"> <button pButton type="button" label="Salgados" class="ui-button-secondary" id="btcategoria"></button></div>
    <div class="ui-g-12"> <button pButton type="button" label="Tortas" class="ui-button-secondary" id="btcategoria"></button></div>
    <div class="ui-g-12"> <button pButton type="button" label="Bolos" class="ui-button-secondary" id="btcategoria"></button></div>
    <div class="ui-g-12"> <button pButton type="button" label="Bebidas" class="ui-button-secondary" id="btcategoria"></button></div>
    <div class="ui-g-12"> <button pButton type="button" label="Palhas" class="ui-button-secondary" id="btcategoria"></button></div>
    <div class="ui-g-12"> <button pButton type="button" label="Brigadeiros" class="ui-button-secondary" id="btcategoria"></button></div>
    <div class="ui-g-12"> <button pButton type="button" label="Sanduíches" class="ui-button-secondary" id="btcategoria"></button></div>
    <div class="ui-g-12"> <button pButton type="button" label="Empadões" class="ui-button-secondary" id="btcategoria"></button></div>
    <div class="ui-g-12"> <button pButton type="button" label="Trufas" class="ui-button-secondary" id="btcategoria"></button></div>
    <div class="ui-g-12"> <button pButton type="button" label="Salada de Frutas" class="ui-button-secondary" id="btcategoria"></button></div>
    </div>
</p-sidebar>
