<div class="row" style="margin-top: 10%">
    <div class="col s6 offset-s3 z-depth-1 hoverable">
        <h4>Preencha os dados da sua Loja</h4>
        <form class="col s12" method="POST" action="/firstAcess">
            <div class="input-field col s12"><input class="validate" id="nome" name="nome" type="text"><label
                    for="nome">Nome da Loja</label></div>
            <div class="input-field col s12"><input class="validate" id="foto" name="foto" type="text"><label
                    for="nome">URL Da foto da loja</label></div>
            <div class="col s8 offset-s2"  style="margin-bottom:3em"><button class="hoverable light-blue darken-4 btn waves-effect waves-light"
                    type="submit" style="width: 100%;">Entrar</button></div>
        </form>
    </div>
</div>