doctype
html(lang="pt-br")
head
  title Tela de Login
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel="stylesheet", href='/css/login.css')
  link(type='text/css' rel="stylesheet" href="/css/materialize.min.css" media='screen,projection')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
body(style="background:url(/src/bglogin.png)")
  .row
    #principal.col.l4.s12.offset-l4.z-depth-2(style='margin-top:8%')
      h2(style='margin-left: 16%') Paffi Delivery
      form.col.s12(method='POST' action="/")
        .input-field.col.s8.offset-s2
          input#email.validate(name='email' type='text')
          label(for='email') E-Mail
        .input-field.col.s8.offset-s2
          input#senha.validate(name='senha' type='password')
          label(for='senha') Senha
          br
          a(href='index.html') Esqueci minha senha
        .col.s8.offset-s2
          button.hoverable.light-blue.darken-4.btn.waves-effect.waves-light(type='submit' style='width: 100%') Entrar
        .col.s8.offset-s2(style="margin-top:15px")
          button.hoverable.light-blue.darken-4.btn.waves-effect.waves-light(type='submit' name='action' style='width: 100%;margin-bottom:50px') Cadastrar-se
          p=message

    script(src="/materialize/materialize.min.js")
    script.
      M.autoInit();