{{#if message}}
<div class="hoverable red darken-3 card white-text" style="height:4em;margin-top:-10%">
    <p style="font-size: 21px;padding-top:2.4%" class="center-align">{{message}}</p>
</div>
{{/if}}